<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <level value="DEBUG" />
    <appender-ref ref="LogFileAppender" />

    <!--enable for future use-->
    <!--<appender-ref ref="ErrorsFileAppender" />-->
    <!--<appender-ref ref="AdoNetAppender" />-->
  </root>

  <!--normal level appender-->
  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
    <file value="logs\Log_" />
    <datePattern value="yyyy-MM-dd.lo'g'" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="20KB" />
    <preserveLogFileNameExtension value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <!--<param name="ConversionPattern" value="%date [%thread]%newlineLevel: %-5level [%property{NDC}]%newlineClass: %logger %newlineMethod: %method %newline%message%newline" />-->
      <param name="ConversionPattern" value="%date{yyyy-MM-dd HH:mm:ss} | %-5level | %message%exception%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="FATAL" />
    </filter>
  </appender>

  <!--error appender-->
  <appender name="ErrorsFileAppender" type="log4net.Appender.RollingFileAppender">
    <file value="Erros\Log_" />
    <datePattern value="yyyy-MM-dd.lo'g'" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10KB" />
    <preserveLogFileNameExtension value="true"/>
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%date [%thread]%newlineLevel: %-5level [%property{NDC}]%newlineClass: %logger %newlineMethod: %method %newline%message%newline" />
    </layout>
    <filter type="log4net.Filter.LevelRangeFilter">
      <levelMin value="DEBUG" />
      <levelMax value="FATAL" />
    </filter>
  </appender>

  <!--database appender-->
  <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
    <bufferSize value="1"/>
    <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <connectionString value="Data Source=USLMAYUTLI;Initial Catalog=Test;User ID=sa; password=Password#5" />
    <commandText value="INSERT INTO AppLog ([Date],[Thread],[Level],[Logger],[Message],[Exception]) VALUES (@log_date, @thread, @log_level, @logger, @message, @exception)" />
    <parameter>
      <parameterName value="@log_date" />
      <dbType value="DateTime" />
      <layout type="log4net.Layout.RawTimeStampLayout" />
    </parameter>
    <parameter>
      <parameterName value="@thread" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%thread" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@log_level" />
      <dbType value="String" />
      <size value="50" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@logger" />
      <dbType value="String" />
      <size value="255" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%logger" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@message" />
      <dbType value="String" />
      <size value="4000" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%message" />
      </layout>
    </parameter>
    <parameter>
      <parameterName value="@exception" />
      <dbType value="String" />
      <size value="2000" />
      <layout type="log4net.Layout.ExceptionLayout" />
    </parameter>

  </appender>
</log4net>
